# Student Performance Indicator

### Common Life cycle of a Machine Learning Project
- Understand the Problem Statement
- Data collection
- Check the collected data
- Perform Exploratory Data Analysis
- Data Pre-Processing
- Model Training
- Choose the best model

## 1. Problem Statement
- This project is to understand how the Gender, Race_ethnicity, parental_level_of_education, Lunch and test_preperation_course variables affects for the Student's Performance (math_score, reading_score, writing_score).

## 2. Data Collection
- Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
- Consists of 8 columns and 1000 rows

### 2.1 Import Required Packages

In [3]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [7]:
# read the dataset
df = pd.read_csv('data/stud.csv')

In [5]:
#show first 5 records in the dataset
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
#display the dimension of the dataset
df.shape

(1000, 8)

### 2.2 Dataset Information
- gender - (male / female)
- race/ethnicity - (Group A / B / C / D / E)
- parental level of education - Parent's final education (bachelor's degree, college etc)
- lunch - having lunch before the test (standard , free/reduced)
- test preperation course - complete or not complete before the test
- math score
- reading score
- writing score

## 3. Check the Collected Data
- Check Missing values (apply feature selection)
- Check Duplicates
- Check Data types
- Check the number of unique values of each column
- Check statistics of dataset
- Check categories present in the different categorical columns

### 3.1 Check Missing values

In [8]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

 Observation : There are no any missing values

### 3.2 Check Duplicates

In [9]:
df.duplicated().sum()

0

 Observation : There are no any duplicate values

### 3.3 Check Data types

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### 3.4 Check the number of unique values of each column

In [11]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64